<hr>

<div class="detail">
    <div class="detail-outer">
        <div class="detail-inner">
            <div class="detail-head">Job Number</div>
            <div class="detail-data">2325846</div>
        </div>
        <div class="detail-inner">
            <div class="detail-head">Date Posted</div>
            <div class="detail-data">NOV 23, 2023</div>
        </div>
        <div class="detail-inner">
            <div class="detail-head">Location</div>
            <div class="detail-data">Katubadda, Moratuwa</div>
        </div>
        <div class="detail-inner">
            <div class="detail-head">Salary</div>
            <div class="detail-data">LKR 125,000</div>
        </div>
    </div>

    <div class="detail-outer" style="margin-left: 3em;">
        <div class="detail-inner">
            <div class="detail-head">Employment Type</div>
            <div class="detail-data">Full Time</div>
        </div>
        <div class="detail-inner">
            <div class="detail-head">Arrangement</div>
            <div class="detail-data">Remote</div>
        </div>
        <div class="detail-inner">
            <div class="detail-head">Experience Level</div>
            <div class="detail-data">Not Required</div>
        </div>
        <div class="detail-inner">
            <div class="detail-head">Deadline</div>
            <div class="detail-data">DEC 31, 2023</div>
        </div>
    </div>
</div>
<hr>

<div class="section">
    <div class="heading">Overview</div>
    <div class="content">
        Microsoft Azure Edge + Platform (E+P) is a globally distributed team of engineers, architects, program managers, product managers, business program managers, business administrators, user experience researchers and designers who are responsible for the platform for Microsoft and for delivering Microsoft’s edge vision. We create the most reliable and trustworthy OS (operating system) and platform services to empower Microsoft and our customers to achieve more. We unlock the next wave of opportunity at the edge through an at-scale ecosystem driving widespread adoption of our Microsoft cloud services.
        <br/> The Cloud Security team within Azure Edge and Platform’s Enterprise and Security organization is responsible for making the operating systems used in Microsoft PCs (Personal Computers), devices and the Azure cloud trustworthy. We produce cutting edge data protection, hardening and cryptography features such as BitLocker, KeyGuard and HVCI (Hypervisor-Protected Code Integrity). These tools equip device owners, manufacturers, and service operators to define how devices are used, even in the presence of hostile software and attackers. Cloud Security safeguards user secrets, giving confidence that even sophisticated modern threats cannot access data outside where and to whom they are intended.
    </div>
</div>

